@import "./variable.scss";
@import "./media.scss";

footer {

  position: relative;
  z-index: 100;

  > .container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 45px 15px 35px;

    > .grid {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      text-align: center;

      .logo {
        // padding: 10px 0;
        text-align: center;
        // margin-bottom: 20px;
        cursor: pointer;

        img {
          max-width: 250px;
          filter: drop-shadow(2px 4px 6px #00000043);
        }
      }

      p {
        color: hsla(0, 0%, 100%, 1);
        text-align: center;
        font-family: 'Lato';
        span {
          color: hsla(0, 0%, 100%, 1);
          font-family: 'Lato';
        }
        h6 {
          font-family: cursive;
          color: #fff;
          font-size: 20px;
          line-height: 25px;
          font-weight: 600;
          text-align: right;
          margin-bottom: 10px;
          text-transform: uppercase;
          @include md {
            text-align: center;
          }
        }
      }
    }
  }
}
